<!DOCTYPE html>
<html>
    <head><title>{{title}}</title></head>
    <body>
        Where do you want to go?<br><br>
        <form action = "vteam" method = get>
            <input type="submit" value="Summarize a player's vibes">
        </form><br>
        <form action = "fteam" method = get>
            <input type="submit" value="Summarize a player's fate">
        </form><br>
        <form action = "fseason" method = get>
            <input type="submit" value="compare fate to different stats for a given season">
        </form><br>
    </body>
</html>